.revenue__box,
.order__box,
.products__box,
.users__box {
  padding: 20px;
  border-radius: 5px;

  h5 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 20px;
  }

  span {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2rem;
  }
}

.revenue__box {
  background: var(--card-bg-01);
}

.products__box {
  background: var(--card-bg-03);
}

.order__box,
.users__box {
  background: var(--card-bg-04);
}
